# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# Env
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem

# Frontent

## testing
/frontend/coverage

## next.js
/frontend/.next/
/frontend/out/

# vercel
/frontend/.vercel

## production
/frontend/build







# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
