# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# Env
.env
.env*.local

# testing
coverage
testApp


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem

#############################

############
# Frontent #
############

## next.js
/frontend/.next/
/frontend/out/

# vercel
/frontend/.vercel

## production
/frontend/build


# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

#############################

############
# Backend  #
############

## Strapi
/backend/license.txt
/backend/exports
/backend/*.cache
/backend/dist
/backend/build
/backend/.strapi-updater.json

## Misc
/backend/*#
/backend/ssl
/backend/.idea
/backend/nbproject
/backend/public/uploads/*
/backend/!public/uploads/.gitkeep


## Logs and databases
/backend/.tmp
/backend/*.log
/backend/*.sql
/backend/*.sqlite
/backend/*.sqlite3

## Packages
/backend/*.7z
/backend/*.csv
/backend/*.dat
/backend/*.dmg
/backend/*.gz
/backend/*.iso
/backend/*.jar
/backend/*.rar
/backend/*.tar
/backend/*.zip
/backend/*.com
/backend/*.class
/backend/*.dll
/backend/*.exe
/backend/*.o
/backend/*.seed
/backend/*.so
/backend/*.swo
/backend/*.swp
/backend/*.swn
/backend/*.swm
/backend/*.out
/backend/*.pid


## OS Files
/backend/.DS_Store
/backend/.AppleDouble
/backend/.LSOverride
/backend/Icon
/backend/.Spotlight-V100
/backend/.Trashes
/backend/._*
/backend/*~
/backend/Thumbs.db
/backend/ehthumbs.db
/backend/Desktop.ini
/backend/$RECYCLE.BIN/
/backend/*.cab
/backend/*.msi
/backend/*.msm
/backend/*.msp
